html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
}

img {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 40px;
}

h1 {
  font-family: "Bahianita", cursive;
  font-size: 60px;
}
